<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - CSync</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div class="container">
    <h1>About CSync</h1>
    <h2>Team Name: DTC10</h2>
    <h3>Team Members:</h3>
    <ul>
      <li>YI YU</li>
      <li>Senuk Jayalath</li>
      <li>Nathan Hong</li>
      <li>Josh Sopena</li>
    </ul>
  </div>
  <script type="module" src="../js/supabaseAPI.js"></script>
</body>

</html>